body {
  margin: 3px 10px;
  white-space: nowrap;
  font-size: max(14px, 1em);
}

#symbol {
  display: inline-block;
  font-family: inherit;
  padding: 0.10em 0.25em;
  margin: 0.10em 0.5em;
  background-color: #fff;
  border: 2px solid;
  border-radius: 4px;
  width: 75px;
  text-transform: uppercase;
}

#options {
  display: flex;
  font-size: 7px;
}

.switch-field {
  display: flex;
  margin-bottom: 3px;
  padding-bottom: 0px;
  overflow: hidden;
}

.switch-field input {
  position: absolute !important;
  clip: rect(0, 0, 0, 0);
  height: 0.2px;
  width: 0.2px;
  border: 0;
  overflow: hidden;
}

.switch-field label {
  background-color: #e4e4e4;
  color: rgba(0, 0, 0, 0.6);
  font-size: 7px;
  text-align: center;
  line-height: 0.8;
  padding: 0px 3px;
  margin-right: -1px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
  transition: all 0.1s ease-in-out;
}

.switch-field label:hover {
  cursor: pointer;
}

.switch-field input:checked + label {
  background-color: #a5dc86;
  box-shadow: none;
}

.switch-field label:first-of-type {
  border-radius: 3px 0 0 3px;
}

.switch-field label:last-of-type {
  border-radius: 0 3px 3px 0;
}

