#symbol {
  font-size: 20px;
  font-size: max(20px, 1em);
  font-family: inherit;
  padding: 0.10em 0.25em;
  background-color: #fff;
  border: 2px solid var(--input-border);
  border-radius: 4px;
  width: 75px;
}

#options {
  font-size: 10px;
  padding-bottom: 3px;
  float: right;
}
