body {
    white-space:nowrap;
    font-size: 20px;
    font-size: max(20px, 1em);
    font-family: inherit;
}

ul {
    list-style: none;
    padding-left:0;
}

#theme-switch label{
    font-size: small;
}

#ds-select {    
    width: 100%;
}

#ds-switch label{
    font-size: small;
}

#ds-label {
  padding-left: 3px;
}

#title {
    text-align: center;
    font-size: small;
}

#chart-switch label{
    font-size: small;
}

#open_new_tab {
    margin-top: 5px;
}

input[type="radio"],
input[type="checkbox"] {
  accent-color: green;
}

