body {
  margin: 3px 10px;
  white-space: nowrap;
  font-size: max(14px, 1em);
}

#symbol {
  display: inline-block;
  font-family: inherit;
  padding: 0.10em 0.25em;
  margin: 0.10em 0.5em;
  background-color: #fff;
  border: 2px solid;
  border-radius: 4px;
  width: 75px;
  text-transform: uppercase;
}

#options {
  font-size: 10px;
}
